html, body {
  position: relative;
  height: 100%;
}

#root {
  display: flex;
  flex: 1;
  flex-flow: column;
  flex-grow: 1;
  align-items: stretch;

  margin: 0;
  padding: 0;
  height: 100%;
}

.App-Container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: stretch;

  background-color: #333;
  color: #DEDEDE;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.App {
  display: flex;
  flex: 1;
  flex-flow: column;
  flex-grow: 1;
  align-items: stretch;

  padding: 7px;

  overflow: auto;
}

.center-flex {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.verified-badge {
  background-position: -42px -425px;
  height: 18px;
  width: 18px;

  background-repeat: no-repeat;

  background-image: url(https://www.instagram.com/static/bundles/base/sprite_core.png/00b79edf00fd.png)
}

.Posts-view {
  margin-bottom: 7.7em;
}

.heart-badge {
  background-position: -427px -401px;
  height: 19px;
  width: 19px;

  background-repeat: no-repeat;

  background-image: url(https://www.instagram.com/static/bundles/base/sprite_core.png/00b79edf00fd.png)
}

.star-badge {
  background: url(https://www.instagram.com/static/bundles/base/sprite_core.png/00b79edf00fd.png) no-repeat -52px -399px;
	width: 24px;
  height: 24px;
  cursor: pointer;
}

.nostar-badge {
  background: url(https://www.instagram.com/static/bundles/base/sprite_core.png/00b79edf00fd.png) no-repeat -331px -358px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.empty-heart-badge {
  background-position: 0 -400px;
  width: 24px;
	height: 21px;

  background-repeat: no-repeat;

  background-image: url(https://www.instagram.com/static/bundles/base/sprite_core.png/00b79edf00fd.png)
}

.user-name {
  margin-bottom: 0.3rem;
  margin: 7px;
}

.user-meta-info {
  margin: 7px
}

.muted-text {
  color: #AAA;
  font-size: 12px;
  margin: 0 5px;
}

.profile-img-holder {
  flex: 0 0 auto;

  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  
  overflow: hidden;
  position: relative;

  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;

  cursor: pointer;
}

.modal-dialog {
  max-width: 83% !important;
  margin: 3.33rem;
}

.modal-info-section {
  display: 'flex'; 
  flex: 1;
  flex-direction: 'row'; 
  align-items: 'center';

  border-bottom: thin solid #DEDEDE;
  margin: 7px 0;
}

/* styles for meditations */
.meditation-main {
  background: #333;
  color: #DEDEDE;
  border: thin solid #777;
}

.meditation-body {
  padding: 17px 29px;
  max-height: 333px;
  overflow-y: auto;
  line-height: 29px;
}

.meditation-progress {
  background: steelblue;
}

/* meditations modal */
.meditation-modal .modal-content {
  background: #333;
  color: #DEDEDE;
}

.meditation-modal .modal-header {
  border-bottom: thin solid #555;
}

.meditation-modal .modal-header button {
  color: #DEDEDE;
}

.meditation-modal .modal-body {
  max-height: 333px;
  overflow-y: auto;
}

.meditation-modal .modal-footer {
  border-top: thin solid #555;
}

.meditation-modal .nav-tabs {
  font-size: 13px;
  align-items: center;
}

.meditation-modal .nav-tabs .nav-link {
  padding: 0.3em;
}

/* meditation-modal tab header hover styles */
.meditation-modal .nav-tabs .nav-link:hover {
    border-color: rgb(23, 162, 184);
}
